@media screen and (min-width: 1200px) {
    body {
    }

    ul, li {
        color: white;
        text-align: center;
        display: inline;
        position: relative;

    }

    .jumbotron {
        margin-bottom: 0;
    }

    .box {
        height: 500px;
        width: 380px;
        background-image: url("http://lorempixel.com/380/500/");
        border: 1px solid black;
    }
}
